@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}
.progresso {
    background-color: #fff8e1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.progresso .div {
    background-color: #fff8e1;
    overflow: hidden;
    width: 431px;
    height: 932px;
    position: relative;
}

.progresso .overlap {
    position: absolute;
    width: 429px;
    height: 62px;
    top: 227px;
    left: 0;
}

.progresso .rectangle {
    position: absolute;
    width: 429px;
    height: 61px;
    top: 0;
    left: 0;
}

.progresso .text-wrapper {
    position: absolute;
    height: 33px;
    top: 4px;
    left: 70px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #4a4a4a;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 33px;
    white-space: nowrap;
}

.progresso .text-wrapper-2 {
    top: 29px;
    left: 70px;
    position: absolute;
    height: 33px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #4a4a4a99;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 33px;
    white-space: nowrap;
}

.progresso .vector {
    position: absolute;
    width: 24px;
    height: 40px;
    top: 10px;
    left: 14px;
}

.progresso .logo-caixa {
    position: absolute;
    width: 71px;
    height: 71px;
    top: 4951px;
    left: 4940px;
    object-fit: cover;
}

.progresso .overlap-group {
    position: absolute;
    width: 247px;
    height: 129px;
    top: 42px;
    left: 14px;
}

.progresso .text-wrapper-3 {
    position: absolute;
    width: 247px;
    height: 105px;
    top: 0;
    left: 0;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #4a4a4a;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 33px;
}

.progresso .text-wrapper-4 {
    position: absolute;
    width: 147px;
    height: 40px;
    top: 89px;
    left: 6px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #4a4a4ab5;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 33px;
}

.progresso .component {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 95px;
    left: 150px;
    background-color: #666363;
    border-radius: 15px;
}

.progresso .ellipse {
    position: relative;
    width: 26px;
    height: 26px;
    top: 2px;
    background-color: #ffffff;
    border-radius: 13px;
}

.progresso .overlap-2 {
    position: absolute;
    width: 431px;
    height: 95px;
    top: 837px;
    left: 0;
    background-color: #ffd99d9c;
}

.progresso .back {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 12px;
    left: 9px;
    background-image: url(./img/union.svg);
    background-size: 100% 100%;
}

.progresso .img {
    position: absolute;
    width: 54px;
    height: 33px;
    top: 19px;
    left: 8px;
}

.progresso .home {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 12px;
    left: 335px;
    background-color: #fff8e1;
    border-radius: 35px;
}

.progresso .material-symbols {
    position: absolute;
    width: 66px;
    height: 66px;
    top: 0;
    left: 2px;
}

.progresso .group {
    height: 63px;
    top: 496px;
    left: 0;
    position: absolute;
    width: 433px;
}

.progresso .overlap-group-2 {
    position: relative;
    width: 429px;
    height: 63px;
}

.progresso .text-wrapper-5 {
    position: absolute;
    height: 33px;
    top: 5px;
    left: 70px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #4a4a4a;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 33px;
    white-space: nowrap;
}

.progresso .text-wrapper-6 {
    top: 30px;
    left: 70px;
    position: absolute;
    height: 33px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #4a4a4a99;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 33px;
    white-space: nowrap;
}

.progresso .overlap-wrapper {
    height: 63px;
    top: 426px;
    left: 2px;
    position: absolute;
    width: 433px;
}

.progresso .overlap-group-wrapper {
    height: 124px;
    top: 295px;
    left: 2px;
    position: absolute;
    width: 433px;
}

.progresso .overlap-3 {
    position: relative;
    width: 429px;
    height: 124px;
    background-image: url(./img/rectangle-19.svg);
    background-size: 100% 100%;
}

.progresso .overlap-group-3 {
    position: absolute;
    width: 359px;
    height: 124px;
    top: 0;
    left: 60px;
}

.progresso .p {
    position: absolute;
    width: 359px;
    height: 99px;
    top: 0;
    left: 0;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #4a4a4a;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 33px;
}

.progresso .text-wrapper-7 {
    top: 91px;
    left: 0;
    position: absolute;
    height: 33px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #4a4a4a99;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 33px;
    white-space: nowrap;
}

.progresso .mdi-achievement {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 12px;
    left: 8px;
}

.progresso .div-wrapper {
    height: 124px;
    top: 566px;
    left: 0;
    position: absolute;
    width: 433px;
}

.progresso .overlap-4 {
    position: relative;
    width: 429px;
    height: 124px;
    background-image: url(./img/rectangle-20.svg);
    background-size: 100% 100%;
}

.progresso .text-wrapper-8 {
    position: absolute;
    width: 359px;
    height: 66px;
    top: 16px;
    left: 60px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #4a4a4a;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 33px;
}

.progresso .text-wrapper-9 {
    top: 91px;
    left: 60px;
    position: absolute;
    height: 33px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #4a4a4a99;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 33px;
    white-space: nowrap;
}
