.sos-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50px;
  	background-color: #ee5c3b;
  	width: 98px;
  	height: 44px;
}
.sos1 {
  	position: absolute;
  	top: 0px;
  	left: 20px;
  	line-height: 33px;
  	font-weight: 600;
}
.sos {
  	position: absolute;
  	top: 10px;
  	left: 316px;
  	width: 98px;
  	height: 44px;
  	cursor: pointer;
  	color: #fff;
}
.evento-lista-child {
  	position: absolute;
  	top: 837px;
  	left: 0px;
  	background-color: rgba(255, 217, 157, 0.61);
  	width: 431px;
  	height: 95px;
}
.back-icon {
  	position: absolute;
  	height: 7.51%;
  	width: 16.24%;
  	top: 91.09%;
  	right: 81.67%;
  	bottom: 1.39%;
  	left: 2.09%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
  	cursor: pointer;
}
.home-icon {
  	position: absolute;
  	height: 7.51%;
  	width: 16.24%;
  	top: 91.09%;
  	right: 5.34%;
  	bottom: 1.39%;
  	left: 78.42%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	cursor: pointer;
}
.eventos {
  	position: absolute;
  	top: 79px;
  	left: 9px;
  	font-size: 40px;
  	line-height: 33px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 178px;
  	height: 32px;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 431px;
  	height: 131px;
}
.consulta-mdica {
  	position: absolute;
  	top: 6px;
  	left: 14.07px;
  	font-size: 32px;
  	line-height: 33px;
  	font-weight: 600;
  	color: #4a4a4a;
  	display: flex;
  	align-items: center;
  	width: 267.2px;
  	height: 32px;
}
.div {
  	position: absolute;
  	top: 40px;
  	left: 14.07px;
  	line-height: 33px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 236.1px;
  	height: 40px;
}
.div1 {
  	position: absolute;
  	top: 82px;
  	left: 14.07px;
  	line-height: 33px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 236.1px;
  	height: 40px;
}
.som-icon {
  	position: absolute;
  	height: 37.4%;
  	width: 10.02%;
  	top: 8.4%;
  	right: 3.5%;
  	bottom: 54.2%;
  	left: 86.48%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-parent {
  	position: absolute;
  	top: 286px;
  	left: 0px;
  	width: 431px;
  	height: 131px;
  	font-size: 24px;
  	color: rgba(74, 74, 74, 0.71);
}
.aniversrio-rosa {
  	position: absolute;
  	top: 6px;
  	left: 14.07px;
  	line-height: 33px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 267.2px;
  	height: 32px;
}
.div2 {
  	position: absolute;
  	top: 40px;
  	left: 9px;
  	font-size: 24px;
  	line-height: 33px;
  	font-weight: 600;
  	color: rgba(74, 74, 74, 0.71);
  	display: flex;
  	align-items: center;
  	width: 236.1px;
  	height: 40px;
}
.vector-group {
  	position: absolute;
  	top: 155px;
  	left: 0px;
  	width: 431px;
  	height: 131px;
  	font-size: 32px;
}
.evento-lista {
  	width: 100%;
  	position: relative;
  	background-color: #fff8e1;
  	height: 932px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 36px;
  	color: #4a4a4a;
  	font-family: Roboto;
}

