.subtract-icon {
  	position: relative;
  	width: 0px;
  	height: 0px;
}
.pesquisar {
  	position: absolute;
  	top: 18px;
  	left: 34px;
  	line-height: 33px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 293px;
  	height: 72px;
}
.mdimicrophone-icon {
  	position: absolute;
  	top: 18px;
  	left: 264px;
  	width: 76px;
  	height: 76px;
  	overflow: hidden;
}
.subtract-parent {
  	position: absolute;
  	top: 209px;
  	left: 35px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  	border-radius: 20px;
  	background-color: rgba(51, 108, 232, 0.4);
  	width: 362px;
  	height: 107px;
  	overflow: hidden;
  	font-size: 40px;
}
.logo-caixa-41262-2 {
  	position: absolute;
  	top: 679px;
  	left: -8px;
  	width: 139px;
  	height: 139px;
}
.logo-caixa-41262-1-icon {
  	position: absolute;
  	top: 439px;
  	left: -273px;
  	width: 71px;
  	height: 71px;
  	object-fit: cover;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50px;
  	background-color: #ee5c3b;
  	width: 98px;
  	height: 44px;
}
.sos {
  	position: absolute;
  	top: 0px;
  	left: 20px;
  	line-height: 33px;
  	font-weight: 600;
}
.rectangle-parent {
  	position: absolute;
  	top: 10px;
  	left: 316px;
  	width: 98px;
  	height: 44px;
  	cursor: pointer;
  	font-size: 36px;
  	color: #fff;
}
.cofre-de-senhas1 {
  	position: absolute;
  	top: 67px;
  	left: 53px;
  	font-size: 40px;
  	line-height: 33px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 247px;
  	height: 105px;
}
.cofre-de-senhas-child {
  	position: absolute;
  	top: 352px;
  	left: 35px;
  	width: 359px;
  	height: 1px;
  	object-fit: contain;
}
.subtract-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 90px;
  	height: 74px;
  	overflow: hidden;
  	background-image: url('Frame 8.png');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
}
.facebook {
  	position: absolute;
  	top: 2px;
  	left: 110px;
  	line-height: 33px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 150px;
  	height: 72px;
}
.vector-icon {
  	position: absolute;
  	height: 34.86%;
  	width: 3.9%;
  	top: 32.43%;
  	right: 0%;
  	bottom: 32.7%;
  	left: 96.1%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.frame-parent {
  	position: absolute;
  	top: 465px;
  	left: 41px;
  	width: 330.9px;
  	height: 74px;
}
.g-mail {
  	position: absolute;
  	top: 2px;
  	left: 111px;
  	line-height: 33px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 96px;
  	height: 72px;
}
.subtract-container {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 90px;
  	height: 74px;
  	overflow: hidden;
  	background-image: url('Frame 7.png');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
}
.vector-icon1 {
  	position: absolute;
  	height: 34.86%;
  	width: 3.89%;
  	top: 33.78%;
  	right: 0%;
  	bottom: 31.35%;
  	left: 96.11%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.g-mail-parent {
  	position: absolute;
  	top: 372px;
  	left: 41px;
  	width: 331.9px;
  	height: 74px;
  	cursor: pointer;
}
.subtract-frame {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 90px;
  	height: 74px;
  	overflow: hidden;
  	background-image: url('Frame 9.png');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
}
.tiktok {
  	position: absolute;
  	top: 2px;
  	left: 111px;
  	line-height: 33px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 138px;
  	height: 72px;
}
.vector-icon2 {
  	position: absolute;
  	height: 34.86%;
  	width: 3.89%;
  	top: 32.43%;
  	right: 0%;
  	bottom: 32.7%;
  	left: 96.11%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.frame-group {
  	position: absolute;
  	top: 558px;
  	left: 41px;
  	width: 331.9px;
  	height: 74px;
}
.frame-div {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 90px;
  	height: 74px;
  	overflow: hidden;
  	background-image: url('Frame 10.png');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
}
.frame-container {
  	position: absolute;
  	top: 651px;
  	left: 41px;
  	width: 331.9px;
  	height: 74px;
}
.subtract-wrapper1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 90px;
  	height: 74px;
  	overflow: hidden;
  	background-image: url('Frame 11.png');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
}
.instagram {
  	position: absolute;
  	top: 2px;
  	left: 111px;
  	line-height: 33px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 154px;
  	height: 72px;
}
.group-div {
  	position: absolute;
  	top: 744px;
  	left: 41px;
  	width: 331.9px;
  	height: 74px;
}
.cofre-de-senhas-item {
  	position: absolute;
  	top: 837px;
  	left: 0px;
  	background-color: rgba(255, 217, 157, 0.61);
  	width: 431px;
  	height: 95px;
}
.back-icon {
  	position: absolute;
  	height: 7.51%;
  	width: 16.24%;
  	top: 91.09%;
  	right: 81.67%;
  	bottom: 1.39%;
  	left: 2.09%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
  	cursor: pointer;
}
.home-icon {
  	position: absolute;
  	height: 7.51%;
  	width: 16.24%;
  	top: 91.63%;
  	right: 4.87%;
  	bottom: 0.86%;
  	left: 78.89%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	cursor: pointer;
}
.cofre-de-senhas {
  	width: 100%;
  	position: relative;
  	background-color: #fff8e1;
  	height: 932px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 32px;
  	color: #4a4a4a;
  	font-family: Roboto;
}

